body {
  box-sizing: border-box;
  font-size: 20px;
  background-color: #aaa;
  text-align: center;
}

header {
  height: 3.75em;
  background-color: #ccc;
}

.profile_pic {
  max-height: 90%;
  margin: 0.2em;
}

.username {
  font-size: 0.75em;
  margin: 2em 1em;
}

.piece {
  width: 3em;
  height: 3em;
  margin: 0.375em;
  border-radius: 3em;
  background-color: #bbb;
}

#p1_pic, #p1_name, #p1_piece {
  float: left;
}

#p2_pic, #p2_name, #p2_piece {
  float: right;
}

h1 {
  font-size: 3em;
}

#board {
  height: 65vw;
  width: 75vw;
  background-color: rgb(254,224,79);
  position: relative;
  left: 12.5vw;
}

.space {
  width: 8vw;
  height: 8vw;
  margin: 1vw;
  border-radius: 10vw;
  position: absolute;
  background-color: #bbb;
}

.column0 .space {
  left: 2.5vw;
}

.column1 .space {
  left: 12.5vw;
}

.column2 .space {
  left: 22.5vw;
}

.column3 .space {
  left: 32.5vw;
}

.column4 .space {
  left: 42.5vw;
}

.column5 .space {
  left: 52.5vw;
}

.column6 .space {
  left: 62.5vw;
}

.row5 {
  top: 2.5vw;
}

.row4 {
  top: 12.5vw;
}

.row3 {
  top: 22.5vw;
}

.row2 {
  top: 32.5vw;
}

.row1 {
  top: 42.5vw;
}

.row0 {
  top: 52.5vw;
}
